# ZAINU-MD 🔥⚜️ Configuration
PORT=20221
PREFIX=.
BOT_NAME=ZAINU-MD 🔥⚜️
OWNER_NAME=ZAINU
OWNER_NUMBER=923128520558
CHANNEL_JIDS=120363409737585957@newsletter,https://whatsapp.com/channel/0029VbDMne82kNFhp1gyAh2P
MENU_IMAGE_URL=https://files.catbox.moe/j6rpyx.jpg
AUTO_STATUS_SEEN=true
AUTO_STATUS_REACT=true
AUTO_STATUS_REPLY=false
DEBUG_LOGS=false
